@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body {font-family: 'Poppins', sans-serif;}
.logo, .logoclass {width: 100px;}
.logoclass {width: 150px;}
.btncolony {background-color: #e22a3f; border-radius: 0; padding: 5px 20px;}
.btncolony a {font-size: 12px;}
a.navbar-brand.logocolony {display: flex; align-items: center; justify-content: center;}
form.navbar-form.navbar-right.nomobile {margin-top: 0;margin-right: 0; padding: 0}
.hrtoolsheader {display: flex;justify-content: center;align-items: center;}
.navcolony a {color: white;}
.navcolony {border-radius: 0; margin-bottom: 0;}
.navcolony .navbar-right {margin-top: 8px; margin-right: 20px;}
.forpadding {padding-top: 120px;}
footer.gray-bg {background-color: #302F38;}
footer.gray-bg p {color: white; margin: 10px;}
footer.gray-bg i {color: red;}
.addformrow {display: none;}
.homepage {min-height: 100vh;}
.headersecond {padding-right: 5px;}
:focus {outline: none;}
#postadd {vertical-align: bottom;}
#postadd, #postadd1 {display: none;}
.wrapper h1 {margin: 30px 0;}
td a {color: black;}
td img {width: 100px;}
#login {width: 800px;}
.errorsmsg.alert.alert-danger {display: none;}
.successmsg.alert.alert-success {display: none;}
.successmsg li, .errorsmsg li {list-style-type: none;}
.usernamelogin {padding-top: 15px;padding-right: 20px;}
.custom-nav {box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); background-color: white;}
.input-group .form-control.for-search:focus {border: 1px solid black !important}
.onlymobile {display: none;}
/* input.form-control.for-search {border: none; box-shadow: none;} */
#search-input {display: none;}
span#search-icon {font-size: 20px; border: none;background: transparent; color: #CDCDCD;}
.nav-line {padding: 0; display: inline;}
.custom-form {margin-right: 0.5vw;background-color: #FFF6F5;width: 20vw !important;border-radius: 0;border: none !important;}
.custom-form-icon {background-color: #FFF6F5;border-radius: 0;border: none !important;color: #FF6F61;}
.submitBtn, .buttonAdd {background-color: #F06B5E;color: #fff;border-radius: 0;}
::placeholder {color: #8080804f !important;}
.sidenav {height: 98vh;width: 300px;position: fixed;z-index: 1;top: 0;left: 0;
    border-color: #e7e7e7;overflow-x: hidden;padding-top: 120px}
.categoryBackground {color: #FF8672 !important;} 
.sidenav a {text-decoration: none;font-size: 25px;color: #818181;display: block;} 
.sidenav a:hover {color: #f1f1f1;} 
.cat-item, .mobile-cat {margin-left: 20px;color: #CDCDCD;font-weight: bold;font-size: 14px;padding: 5px; cursor: pointer;margin: 8px 0px 5px 24px;}
.cat-item:hover, .mobile-cat:hover {color: #FF8672;text-decoration: none; transition: .1s linear all;transform: translateY(-2px);}
.forLinkedin {bottom: 10px;position: absolute;color: #CDCDCD;}
.forLinkedin i:hover {color: #FF8672;text-decoration: none;}
.forLinkedin i {font-size: 25px;color: #CDCDCD; margin-top: 20px;}
.forLinkedin i:hover {color: #2867B2;}
.item-login {margin-left: 0; padding-left: 0;}
#forlogin, #dashboard, #forlogin1, #dashboard1 {color: #CDCDCD;font-weight: bold;font-size: 15px;cursor: pointer;}
#forlogin:hover, #dashboard:hover {color: #FF8672;text-decoration: none;}
/* .posts {padding-top: 50px;} */
.card {width: 30%;display: inline-block;margin: 15px;height: 200px;background-size: contain; position: relative; 
    cursor: pointer;background-repeat: no-repeat;background-position: center;}
.hr {height: 3px; width: 100%; margin: 0; border: none;}
.card-content {width: 80%; position: absolute; bottom: 20px; left: 20px;}
.featcon {width: 100%;}
.post-title {font-weight: bold; font-size: 18px;}
p.post-cat {color: white; margin-bottom: 0;font-size: 10px;}
.for-opacity {background-color: #0000007d !important;width: 100%;display: inline-block;height: 200px; color: white;}
.for-opacity:hover {color: #FF8672; background-color: #00000042 !important; transition: .1s linear all;transform: translateY(-2px);}
.model-cards {width: 80% !important; margin: auto !important;padding: 0;}
.modal-content {height: auto;min-height: 100%;border: 0 none;border-radius: 0;}
.modal {margin-top: 10vh;}  
.sidemodal {height: 80vh;background-color: #8FC0B6; padding-top: 50px;}
.post-title-modal {font-size: 20px;}
.for-cat {position: absolute; bottom: 20px; left: 30px;}
.sidemodal .post-title {font-size: 25px; padding-left: 30px;}
.for-cat .post-cat {font-size: 15px;}
.hr-modal {height: 6px;}
.formodal {padding-right: 0 !important;height: 80vh;overflow-y: auto;}
.cat-image {width: 100%;height: 50vh; filter: blur(10px);}
.for-content-post .post-title {color: black; font-size: 20px}
.for-content-post {padding: 5%; position: relative; padding-bottom: 10%}
.icons i {margin: 5px; font-size: 20px;color: #CDCDCD;}
.form-in-modal {position: absolute; bottom: 0; padding: 0 !important;}
.modal-body {padding: 0;}
button.close {position: absolute; top: 20px; right: 20px; z-index: 10000; color:#F06B5E; font-size: 40px;}
#addcompany {display: none;}
#testfield, #sharebuttons {display: none; margin: 0; padding: 0; vertical-align: bottom;}
#forform {display: none; padding-top: 150px;}
.addcompform, .addtoolform {width: 800px;padding: 40px;box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.1); position: relative;}
.addcompform ::placeholder, .addtoolform ::placeholder {color: #8FC0B6 !important;}
.addcompform input, .addcompform textarea, .addtoolform input, .addtoolform textarea {margin: 10px 0; border-radius: 0; 
    border: none; box-shadow: none; background-color: #cdece559;}
.btn.butaddcomp {background-color: #CDECE5; color: white; border: none; font-size: 15px;border-radius: 0; font-weight: bold;}
.butaddcomp:hover {background-color: #FF8672 !important;}
.butaddcomp a:hover {color: white; text-decoration: none;}
.butaddcomp a {color: white;}
#loginform {display: none; padding-top: 150px;}
#featured {padding-top: 150px;}
.featuredimage {height: 300px;background-size: cover;margin: 0 15px;}
.bigcard {display: flex; align-items: flex-end;}
.post-title.featured {color: black;}
.forfeatured i, .social i {margin: 5px; font-size: 18px;color: #CDCDCD; vertical-align: bottom;}
/* p.post-title:hover {color: #FF8672;} */
.for-dashboard {width: 100%; margin: 20px;}
.for-dashboard th {padding: 20px;}
.for-dashboard td {padding: 10px;}
.approvedcomp h1 {text-align: center;}
.for-dashboard .butaddcomp {width: 100%;}
.success {font-size: 20px; background-color: #8FC0B6; color: white; padding: 10px; margin: 10px 0;}
.editform {padding: 100px; text-align: center;}
.btn.radiobtn {background-color: #cdece559;; border: none; border-radius: 0; margin: 5px; color: #8FC0B6;}
.radiobtn:hover {background-color: #FF8672 !important; color: white;}
.editform .input-group {display: block; padding: 20px;}
.toolbar {padding-top: 100px; text-align: right;}
#featured .success {text-align: center;}
.menumobile {background-color: white; width: 100%; position: relative; display: none !Important;}
/* .navbar-collapse.collapse {display: none !important;} */
.testtt {display: inline-block !important;}
#sharebuttons a {color: #CDCDCD; font-size: 16px;}
.social {height: 30px;}
.mosine {display: none;}
/* .newclass {display: flex !important;align-items: center;justify-content: center;}
#postadd, #postadd1 {display: none;} */
.card-contents {display: flex; align-items: center; justify-content: center; color: #FF8672; flex-direction: column; width: 100%; height: 100%;}
.card-contents:hover {background-color: #FF8672; color: white;}
#postadd .post-plus {font-size: 40px;}
#postadd .post-add {font-size: 25px;}
i.fab.fa-facebook:hover {color: #3b5998;}
i.fab.fa-google-plus:hover {color: #DD4B39;}
i.fab.fa-instagram:hover {color: #C13584;}
i.fab.fa-reddit:hover {color: #FF4500;}
i.fab.fa-twitter-square:hover {color: #38A1F3;}
i.fab.fa-linkedin-in:hover {color: #0077B5;}
#postadd1 {background-image: url("../images/2laikabezboja@4x-8.png"); background-size: contain; 
    background-repeat: no-repeat; width: 30%;}
#postadd1:hover {background-image: url("../images/2laikaboja@4x-8.png");}
.forlaika {display: flex;}
.linklaika {width: 100%;}
.close:focus, .close:hover {color: white; outline: none;}
.forimage-test {position: relative;}
img.imagefull {position: absolute;object-fit: cover;width: auto;height: 95%;top: 50%;left: 50%;z-index: 0;margin: auto;transform: translate(-50%, -50%);}
i.sharebg {color: #FF4500;}
.btnfeatured:active:focus, .btnfeatured:focus {outline: none; box-shadow: none;}
.forlaika {width: 100%; height: 100%;}
.mobile-show{display: block !important;}
.rowforedit {min-height: 100vh; display: flex; justify-content: center; align-items:center;}
.addtool .btn {margin: 15px;}
.addtoolrow {display: none;}
select {background-color: #cdece559 !important;}
.col-tool {display: flex; align-items: center;}
.col-tool #testfield {margin-left: 10px; font-size: 18px;}
.col-tool #testfield a {margin: 5px;}
.testtable:not(:first-child) {display: none;} 
.editcolumn {padding-top: 50px;}
p.text-right.subscribemsg {background: #8FC0B6;padding: 10px 50px;}
@media only screen and (min-width: 768) {
    .flex {display: flex; flex-direction: column; justify-items: center;}
    /* .navbar-collapse.collapse {display: none !important;} */
    
}

@media only screen and (max-width: 600px) {
    .featuredimage {display: none;}
    .posts {padding: 0;}
    .sidenav.fordesktop {display: none !important;}
    /* .forsearch {display: none;} */
    /* .nomobile {display: none;} */
    /* .formobilop {float: right;} */
    .formobilep .icon-bar {background-color: black;}
    .card {width: 90%; height: auto; }
    /* .navbar-collapse.collapse {height: 100vh !important;} */
    /* .navbar-collapse.collapse {display: block !important;} */
    #featured {padding-top: 80px;}
    .colfeatured {position: absolute;width: 100%;color: white;}
    .colfeatured .post-title {color: white;}
    .featuredimage {margin: 0; height: 200px;}
    .myButton-toggle{margin-right: 50px;/* margin-top:15px; *//* cursor: pointer; */}
    .logo{/* margin-top: 10px; */margin-left: 20px;}
    .item-login{margin-bottom: 60px;}
    .forsearch{display: none;}
    /* .formobilep{height: 100vh;} */
    .mobile-show{height: 90vh;}
    .modal-fullscreen {width: 100%;}
    .featcon{display: none;}
    .mobile-version{margin: 0;padding: 0;}
    .sidemodal {display: none;}
    .formodal {padding: 0;}
    .cat-image {display: none;}
    img.imagefull {position: relative; width: 100%; height: auto; transform: none; top: 0; left: 0;}
    .mobile-show p{margin-top: 0 ;}
    .mobile-show{height: 100vh;padding-top: 20px;}
    .form-in-modal {position: relative; padding: 0 !Important; width: 100%; margin: auto;}
    .form-in-modal input.form-control.custom-form {width: 100% !important;}
    .form-in-modal .submitBtn {width: 100%;}
    .forLinkedin {position: relative;}
    .addcompform {width: auto;}
    .hrtoolsheader {display: block;}
    button.navbar-toggle {margin-right: 40px;}
    .navbar-form {display: none;}
    .onlymobile {display: block;}
 }